body {
    background: #d2d2c1 url(imagens/fundo.png);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#principal {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

a {
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em;
}

.link {
    background: #c5c5b2;
    padding: 1em;
}

#conteudo {
    background: #e8e8d9;
    padding: 1em;
    font-size: 1em;
}

#rodape {
    text-align: center;
}

.imagem {
    border: 0.5em solid #c5c5b2;
    max-width: 100%;
    height: auto;
}

h1 {
    color: #828271;
    font-size: 1.2em;
}

/* Estilos para telas menores (máximo de 768px) */
@media (max-width: 768px) {
    #principal {
        width: 100%;
    }
    #conteudo {
        padding: 0.5em;
        font-size: 0.8em;
    }
    .imagem{
        border: 0.5em solid #c5c5b2;
        max-width: 100%;
        height: auto;
    }
}

   
